<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Rating List</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

	<div class="row mt-3">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a> |
			<a href="/curvePoint/list">Curve Points</a> |
			<a href="/rating/list">Ratings</a> |
			<a href="/trade/list">Trade</a> |
			<a href="/ruleName/list">Rule</a>
		</div>
		<div style="font-family: Arial, sans-serif;">
			<span>Logged in user: <span th:text="${username}"></span></span>
			<a href="/logout">
				<button style="margin-left: 10px; padding: 2px 8px;">Logout</button>
			</a>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12">
			<h2>Rating List</h2>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12">
			<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-12">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Id</th>
					<th>Moodys Rating</th>
					<th>S&P Rating</th>
					<th>Fitch Rating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="rating : ${ratings}">
					<td th:text="${rating.id}"></td>
					<td th:text="${rating.moodysRating}"></td>
					<td th:text="${rating.sandPRating}"></td>
					<td th:text="${rating.fitchRating}"></td>
					<td th:text="${rating.orderNumber}"></td>
					<td class="text-center">
						<a th:href="@{/rating/update/{id}(id=${rating.id})}">Edit</a> |
						<a th:href="@{/rating/delete/{id}(id=${rating.id})}">Delete</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
</body>
</html>