<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-success">You have been logged out</h2>
            <p class="lead">Thank you for using Poseidon Capital Solutions. We hope to see you again soon!</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <a href="/login" class="btn btn-primary btn-lg">Login Again</a>
            <a href="/" class="btn btn-outline-secondary btn-lg ml-3">Return to Home</a>
        </div>
    </div>
</div>
</body>
</html>